
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container">
    <br />
    <br />
    <br />


    <center><p style="color: crimson; font-size: 30px;">WHO WE ARE</p><p> A REPUTATION FOR QUICK DELIVERY AND RELIABILITY</p> </center>
    <div style="text-align:justify; padding-left:8px ">
        <p>
            Wherever you are in Nigeria, in whatever sector, you can rely on our team of experts to provide you with specialized business solutions to make your business faster, simpler and more efficient.
            José-fin Logistics serve as the right arm of small and medium sized Nigerian businesses that need to source for products and services within Lagos. We have simplified the export and import services using innovative, but simple technology.
            <br> <br />
            Our major focus is to ensure that all clients need are met with tailor-made solutions developed for all sectors. Ensuring a stress free experience for procurement, sourcing, clearing, warehousing, shipping for import and export services is our priority. We are committed to excellence and leverage on speed and transparency to reduce overall production cost of clients. We partner with you to offer services that will help you streamline your processes and operate in a more sustainable manner.
        </p>

        <center> <img src="~/Content/images/aboutusimage4.png" style=" height: 300px; width: 700px; "></center>


        <h4 style="color: crimson">Our Goal</h4>
        <p>To provide stress free and affordable logistics services for export and import services to suite your business need.</p>

        <h4 style="color: crimson">Our Vision</h4>
        <p>
            To create a world where goods, raw materials and finished products move quickly, and without borders from any location worldwide.
            To build a world where information technology and logistics shrink time and distance, ensuring competitive advantages for all our customers.
        </p>

        <h4 style="color: crimson">Our Values </h4>

        <p> <b>Customers:</b> We believe our clients are our best assets, and will go to any length possible to ensure complete satisfaction in all we do by creating and developing customized customer driven solutions at all times.</p>
        <p> <b>People:</b> We will attract, develop and retain the best team members in an atmosphere that encourages open communication and respect for others, as well as constant training of team members. </p>
        <p> <b>Integrity:</b> We will be honest, fair and reliable in our day-to-day interaction with customers and fellow employees. </p>
        <p> <b>Quality:</b> We will accept nothing less than total and complete customer satisfaction, and will hold ourselves accountable for all our actions </p>

    </div>
</div>
