<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Josefinlogistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
            <a class="#"><img src="~/Content/images/jf-logo.png" style="width:65px; height: 40px;" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto" style="position: absolute; right: 2px;">
                    <li class="nav-item">
                        <a class="nav-link" href="/Logistics/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Logistics/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Logistics/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Logistics/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clients/Create">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admins/Login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" syle="width: 100vw;">
        @RenderBody()

        <!-- FOOTER -->
        <br /><br /><br /><hr />
        <center>
        <footer>
            <h4>Visit our social media platforms</h4>
            <!-- Add font awesome icons -->
            <a href="https://web.facebook.com/Jose_finlogistics-113996287057918" style="font-size: 2em; padding: 15px;"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/JFinlogistics?s=12" style="font-size: 2em; padding: 15px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/jose_finlogistics/" style="font-size: 2em; padding: 15px;"><i class="fab fa-instagram"></i></a>
            <a href="www.linkedin.com/in/joséfinLogistics3159921b5" style="font-size: 2em; padding: 15px;"><i class="fab fa-linkedin"></i></a>
            <p style="color: darkcyan; font-size: 11px; padding-top: 5px; ">Copyright © 2020. All Rights Reserved | José-fin logistics </p>
        </footer>
            </center>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.js"></script>

</body>
</html>
