USE [master]
GO
/****** Object:  Database [LogisticsContext]    Script Date: 12/09/2020 23:30:42 ******/
CREATE DATABASE [LogisticsContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogisticsContext.mdf', FILENAME = N'C:\Users\Nkiru\Desktop\logistics\José-finLogistics\José-finLogistics\App_Data\LogisticsContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LogisticsContext_log.ldf', FILENAME = N'C:\Users\Nkiru\Desktop\logistics\José-finLogistics\José-finLogistics\App_Data\LogisticsContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogisticsContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogisticsContext]
GO
USE [LogisticsContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/09/2020 23:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/09/2020 23:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 12/09/2020 23:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[PickupAddress] [nvarchar](max) NOT NULL,
	[ItemDescription] [nvarchar](max) NOT NULL,
	[ItemQuantity] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[ReceiverPhone] [nvarchar](max) NOT NULL,
	[ReceiverAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 12/09/2020 23:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[TrackingId] [nvarchar](max) NULL,
	[PackageStatus] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Packages] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [Name], [Email], [Username], [Password], [ConfirmPassword], [Phone], [Address]) VALUES (2, N'Kelvin Oguegbu', N'kevkev@gmail.com', N'kelvin', N'87654321', N'87654321', N'+2349057033265', N'16 Unity Crown estate, Elepe')
INSERT [dbo].[Admins] ([AdminId], [Name], [Email], [Username], [Password], [ConfirmPassword], [Phone], [Address]) VALUES (3, N'ken', N'kevinog1676@gmail.com', N'kelvincross', N'0268949950', N'0268949950', N'07089894169', N'Chevron drive Lekki')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [Phone], [PickupAddress], [ItemDescription], [ItemQuantity], [FullName], [ReceiverPhone], [ReceiverAddress]) VALUES (1, N'Abdulrasheed', N'Subair', N'+2349057033265', N'16 Unity Crown estate, Elepe', N'cake', 2, N'Kelvin Oguegbu', N'+2349057033265', N'55 Bahnhofstrasse')
INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [Phone], [PickupAddress], [ItemDescription], [ItemQuantity], [FullName], [ReceiverPhone], [ReceiverAddress]) VALUES (2, N'Jamie', N'Vardy', N'0901939389', N'Leciester', N'Boots', 5, N'Ancelloti Jim', N'090998777', N'Barcelona
')
INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [Phone], [PickupAddress], [ItemDescription], [ItemQuantity], [FullName], [ReceiverPhone], [ReceiverAddress]) VALUES (3, N'okechukwu', N'okeke', N'07089894169', N'festec town lagos', N'medium fan', 6, N'chidimma', N'08055667334', N'lekki lagos nigeria')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([PackageId], [TrackingId], [PackageStatus], [ClientId]) VALUES (1, N'123qwerty', 2, 2)
INSERT [dbo].[Packages] ([PackageId], [TrackingId], [PackageStatus], [ClientId]) VALUES (2, N'ttfrrt55555', 0, 1)
INSERT [dbo].[Packages] ([PackageId], [TrackingId], [PackageStatus], [ClientId]) VALUES (3, N'eb92a50f-e', 1, 2)
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO
/****** Object:  Index [IX_ClientId]    Script Date: 12/09/2020 23:30:43 ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[Packages]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Packages_dbo.Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_dbo.Packages_dbo.Clients_ClientId]
GO
USE [master]
GO
